@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Oswald", sans-serif;
    background-color: #f9f9f9;
    color: #333;
}

/* Estilos para o cabeçalho */
header {
    background-color: #29e35b;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

header a img {
    vertical-align: middle;
}

header .navigation {
    display: inline-block;
    margin-left: 20px;
}

header .navigation ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 15px;
}

header .navigation ul li {
    display: inline;
}

header .navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

header .navigation ul li a:hover {
    text-decoration: underline;
}

/* Estilos para o conteúdo principal */
main {
    padding: 20px;
    text-align: center;
}

main h1 {
    margin-bottom: 20px;
    font-size: 2em;
}

main div {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    width: 200px; /* largura fixa para os contêineres de produtos */
}

main div img {
    max-width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

main div p {
    font-size: 1.2em;
    color: #555;
    margin-top: 10px;
}

main a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

main a:hover {
    background-color: #555;
}

/* Estilos responsivos */
@media (max-width: 600px) {
    header .navigation ul {
        flex-direction: column;
        gap: 10px;
    }

    main div {
        width: 100%;
    }
}


/* Footer styling */

